<p>angular-videos-player works!</p>

<youtube-player [videoId]="videoId" [playerVars]="config"></youtube-player>

<div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/753327761?h=4902055f00&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="y2mate.com - Motivational short video  How to succeed  cartoon_1080p.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<iframe src="https://player.vimeo.com/video/753325610?h=787228b3b1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>